a {
  color: #ff8b3d !important;
  text-decoration: none !important;
}

a:hover {
  color: #c1692f !important;
}

a.btn:hover {
  color: #ff8b3d !important;
}

.custom-bg {
  background-color: #710a0a !important;
}

button.custom-bg,
input.custom-bg {
  color: #ff8b3d !important;
}

.footer-links-ul {
  list-style: none;
}
